.reviewUserContainer {
    margin: 0px 10px 5px 10px;
    height: 120px;
    overflow: hidden;
}
.reviewUserTitle {
    color: #073D49;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 1px;
    font-size: 20px;
}

.reviewUserRating {
    color: #009280;
    font-size: 15px;
}

.reviewUserComment {
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    font-size: 14px;
    color: #383636;
    margin: 5px 5px 5px 0px;
}