
.Display {
    background-color: #ffffff;
    margin: 0 8% 3% 8%;
}

.DisplayImage {
    width: 100%;
}

.DisplayName {
    margin: 5px 0px 5px 10px;
    font-family: 'Barlow Condensed', sans-serif;
    font-style: italic;
    font-weight: normal;
    letter-spacing: 1px;
    color: #009280;
    font-size: 23px;
}

@media all and (min-width: 1900px) {
    .DisplayName {
        font-size: 30px;
    }
} 