.sellingHotContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(168px, 1fr));
}

.sellingHotDisplay {
    background-color: #ffffff;
    margin: 0 8% 3% 8%;
}

.sellingHotDisplayImage {
    width: 100%;
}

.sellingHotDisplayName {
    margin: 5px 0px 5px 10px;
    font-family: 'Barlow Condensed', sans-serif;
    font-style: italic;
    font-weight: normal;
    letter-spacing: 1px;
    color: #009280;
    font-size: 25px;
}

.sellingHotTitle {
    margin: 5px 0px 5px 10px;
    font-family: 'Barlow Condensed', sans-serif;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 1px;
    color: #073D49;
    font-size: 50px;
}

@media all and (min-width: 1900px) {
    .sellingHotDisplayName {
        font-size: 30px;
    }
} 