.wishlistFilled {
    background-image: url(../../assets/mini-icons/wishlist-product-page-filled.svg);
}

.wishlistOutline {
    background-image: url(../../assets/mini-icons/wishlist-product-page-outline.svg);
}

.cart {
    background-image: url(../../assets/mini-icons/Icon_cart_dark_updated.png);
}

.iconComponent {
    padding: 10px 10px;
    cursor: pointer;
    list-style-type: none;
    margin: 9px;
    height: 2px;
    width: 2px;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
}

.productDisplayContainer {
    display: flex;
    justify-content: space-between;
}

.productDisplayName {
    color: #073D49;
    margin: 5px 0px 5px 10px;
    font-family: 'Barlow Condensed', sans-serif;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 1px;
    font-size: 25px;
}

.productDisplaySliderContainer {
    padding: 10px;
}

.productDisplayMainContainer {
    border: 0.5px solid gray;
    margin: 5px;
}

.productDisplayImage{
    height: 400px;
}

@media only screen and (min-width: 768px) {
    .productDisplayImage{
        height: 700px;
    }

    .productDisplayContainer {
        display: flex;
        justify-content: space-between;
    }
    
    .productDisplayName {
        color: #073D49;
        margin: 5px 0px 5px 10px;
        font-family: 'Barlow Condensed', sans-serif;
        font-style: normal;
        font-weight: normal;
        letter-spacing: 1px;
        font-size: 40px;
    }
    
    .productDisplaySliderContainer {
        padding: 10px;
    }
    
    .productDisplayMainContainer {
        border: 0.5px solid gray;
        width: 40%;
        /* display: block;
        margin: 5px auto; */
        float: left;
        margin-left: 100px;
    }

    .iconComponent {
        padding: 15px 15px;
        cursor: pointer;
        list-style-type: none;
        margin: 9px;
        height: 7px;
        width: 7px;
        background-repeat: no-repeat;
        background-size: cover;
        float: left;
    }
}